.uploadPhotoContainer {
  width: 22%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.mainContainer {
  margin: 0 56px;
  margin-top: 52.5px;
  display: flex;
  gap: 8px;
}

.card {
  border-radius: 6px;
  background: #f6fafe;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 20px 40px;
}

.inputFile {
  position: absolute;
  opacity: 0;
  height: 130px;
  width: 171px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.label {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.span {
  color: #f21d2f;
  font-size: 18px;
  font-weight: 500;
}

.inputText {
  border-radius: 6px;
  background: #f6fafe;
  padding: 16px 32px 16px 16px;
  border: none;
  resize: vertical;
  color: #8d9396;
}

.inputText::placeholder {
  color: #8d9396;
  font-size: 16px;
  font-weight: 400;
}

.inputText:focus {
  box-shadow: none;
  color: #000;
}

.inputSelect {
  color: #8d9396;
}

.button {
  width: 322.954px;
  height: 59.962px;
  padding: 18px 26px;
  border-radius: 30px;
  background: linear-gradient(90deg, #0d4e98 2.01%, #42a6be 98.92%);
  border: none;
  color: #fff;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 94px;
  margin-top: 47px;
}

.labelCheckbox {
  color: #8d9396;
  font-size: 16px;
  max-width: 320px;
}

.subCategoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.categoriesContainer {
  display: flex;
  gap: 16px;
}

.column {
  width: 50%;
  box-sizing: border-box;
}

.rightContainer {
  width: 67.5%;
}

.inputCheckboxContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.doubleInputsContainer {
  display: flex;
  gap: 24px;
}

.inputContainer50 {
  width: 48.75%;
}

.multiSelect > div {
  border-radius: 6px;
  background: #f6fafe;
  padding: 6px;
  border: none;
  padding: 16px 32px 16px 16px;
}

.cancelButton {
  width: 160px;
  padding: 18px 26px;
  border-radius: 30px;
  background: white;
  border: 0.8px solid #d9d9d9;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
}

.showTurnoverSwitch {
  display: inline-block;
  margin-left: 2%;
}

.showTurnoverSwitch label {
  font-size: 14px;
}

.inputRadioContainer {
  margin-left: 2.5rem;
  grid-column: 2;
}

.radioButtonsContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1100px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 890px) {
  .card {
    min-width: 175px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .doubleInputsContainer {
    flex-direction: column;
  }
  .inputContainer50 {
    width: 100%;
  }
  .categoriesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainContainer {
    margin: 0 17px;
    margin-top: 30px;
  }
  .buttonContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
