.mainContainer {
  border-radius: 0px 24px 24px 0px;
  opacity: 0.74;
  background: rgba(238, 246, 252, 0.74);
  backdrop-filter: blur(22px);
  margin: 39px 182px;
  padding: 40px 104px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  border-radius: 30px;
  border: 1px solid #ccc;
  background: #fff;
  height: 63px;
  padding: 18px 26px;
}

.inputTextArea {
  border-radius: 30px;
  border: 1px solid #eee;
  background: #fff;
  width: 851px;
  padding: 18px 26px;
  resize: vertical;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.updateButton {
  border-radius: 100px;
  border: 0.8px solid #d9d9d9;
  background: linear-gradient(89deg, #0f5199 4.29%, #44a8c0 99.49%);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 16.2px 22px;
  width: 179px;
}

.deleteButton {
  border-radius: 100px;
  border: 0.8px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
  padding: 16.2px 22px;
  width: 179px;
}

.customButton{
  height: 40vh;
  margin-bottom: 7vh;
}

.customButton div {
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.customButton div:first-child {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.urlInstructionsSpan{
  font-size: 10px;
  color: black;
  opacity: 100%;
  margin-left: 15px;
  cursor: pointer;
}

.urlInstructionsIcon{
  font-size: 18px;
}

.radius{
  border-radius: 30px;
  border: 1px solid #ccc;
}

.uploadPhotoContainer {
  display: flex;
  height: fit-content;
  align-items: center;
}

.imageCard{
  border-radius: 6px;
  background: #f6fafe;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.inputFile {
  position: absolute;
  opacity: 0;
  height: 25vh;
  width: 15vw;
  cursor: pointer;
}

.imageContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imageLabel{
  position: absolute;
  margin-bottom: 12%;
  margin-left: 3.25%;
  z-index: -2;
  cursor: pointer;
}

@media screen and (max-width: 1360px) {
  .mainContainer {
    padding: 30px 60px;
  }
}

@media screen and (max-width: 1300px) {
  .input,
  .inputTextArea,
  .buttonsContainer {
    width: 280px;
  }
  .mainContainer {
    padding: 20px 20px;
    margin: 39px 16px;
    border-radius: 24px;
  }
}
