.cardContainer {
  width: calc(100% - 112px);
  display: flex;
  justify-content: center;
  margin: 42px 56px;
}

.card {
  width: 40%;
  height: 100%;
  opacity: 0.74;
  background: #eef6fc;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 40px 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  gap: 24px;
}

.cardTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.cardDescription {
  color: #626b80;
  text-align: center;
  font-size: 16.6px;
  margin: 0;
}

.input {
  border-radius: 30px;
  border: 1px solid #eee;
  background: #fff;
  padding: 19px 55px;
  padding-left: 50px;
  min-width: 271px;
}

.input::placeholder {
  color: #333;
  opacity: 0.3;
}

.icon {
  position: absolute;
  opacity: 0.3;
  margin-left: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.forgetPasswordA {
  width: 100%;
  text-align: end;
  text-decoration: none;
  color: #626b80;
  display: inline-block;
  margin-top: 8px;
  font-size: 18px;
}

.button {
  padding: 18px 26px;
  border-radius: 30px;
  background: linear-gradient(90deg, #0d4e98 2.01%, #42a6be 98.92%);
  border: none;
  color: #fff;
  min-width: 347px;
  cursor: pointer;
}

.signUpButton {
  color: #626b80;
  text-decoration: none;
  font-size: 18px;
}

.cardLeft {
  background-color: #fff;
  width: 60%;
  min-height: 834px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 24px;
}

.inputTextArea {
  padding-left: 26px;
  max-width: 323px;
  resize: none;
}

.cardBottom {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0px 0px 0px 24px;
  background: linear-gradient(90deg, #0d4e98 2.01%, #42a6be 98.92%);
  min-height: 91px;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 20.835px;
  justify-content: center;
}

.cardTop {
  padding: 0px 80px 30px 50px;
  margin-top: 50px;
}

.title {
  color: #010101;
  font-size: 32px;
  font-weight: 700;
}

.description {
  color: #626b80;
  font-size: 18px;
  line-height: 28px;
}

.grayCircle {
  background-color: #d9d9d9;
  border-radius: 16.3px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksP {
  margin: 0;
}

.footerCardIcon {
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 1000px) {
  .cardContainer {
    flex-direction: column;
    margin: 39px 17px 48px 17px;
    width: inherit;
  }
  .cardLeft {
    min-height: inherit;
    width: 100%;
  }
  .card {
    width: 100%;
    border-radius: 24px;
    padding: 20px 50px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
  }
  .cardBottom {
    min-height: 46.796px;
    padding: 14px 0;
  }
  .linksP {
    font-size: 14px;
  }
  .cardTop {
    margin-top: 39px;
    padding: 0 19px;
    padding-bottom: 10px;
  }
  .grayCircle {
    width: 16.77px;
    height: 16.77px;
  }
  .footerCardIcon {
    height: 12px;
    width: 12px;
  }
  .footerLocationIcon {
    height: 12px;
    width: 10px;
  }
  .links {
    gap: 10.71px;
  }
}
