.footer {
  display: flex;
  background-color: #f6fafe;
  align-items: center;
  padding: 20px 56px;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footerRight {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.footerLink {
  text-decoration: none;
  color: #626b80;
}

.footerP {
  margin: 0;
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    padding: 20px 16px;
  }
  .footerP,
  .footerLink {
    color: #626b80;
    font-size: 10px;
    font-weight: 500;
  }
}
