.mainContainer {
  display: flex;
  margin: 0 56px;
  margin-top: 16px;
}

.cardsContainer {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  gap: 15px;
}

.card {
  border-radius: 8px;
  background: #fff;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 155px;
}

.imgContainer {
  border-radius: 15px;
  border: 1px solid #f6fafe;
  background: #fff;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.1),
    0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 46px 27px 0px rgba(0, 0, 0, 0.05),
    0px 81px 33px 0px rgba(0, 0, 0, 0.01), 0px 127px 36px 0px rgba(0, 0, 0, 0);
  width: 185px;
  height: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
  padding: 4px 10px;
}

.cardP {
  margin: 0;
  color: #626b80;
  font-size: 14.758px;
}

.categoryCard {
  border-radius: 8px;
  background: #fff;
  padding: 8px 12px;
  width: fit-content;
}

.categoryCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.categoryP {
  color: #383838;
  font-size: 14.758px;
  font-weight: 700;
}

.span {
  color: #0d4f98;
  font-size: 14.758px;
  font-weight: 600;
}

.cardBigP {
  color: #0d4f98;
  font-size: x-large;
  font-weight: 700;
  margin: 0;
}

.headerCardDown {
  margin: 0 56px;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
  border-radius: 15px 15px 0px 0px;
  padding-right: 30px;
  box-shadow: 0px 4px 30.6px 0px rgba(0, 0, 0, 0.08);
}

.headerLinks {
  display: flex;
  align-items: center;
}

.countriesContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px 30px 10px 17px;
}

.customP {
  margin: 0;
  padding: 29px 0;
  padding-left: 71px;
  padding-right: 45px;
  font-size: 18px;
}

.disabled {
  color: #626b80;
  cursor: pointer;
}

.customP2 {
  margin: 0;
  padding: 29px 45px;
  font-size: 18px;
}

.active {
  border-bottom: #ffd028 5px solid;
}

.boldP {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.blueCard {
  border-radius: 100px;
  background: #0d4f98;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.blueCardP {
  margin: 0;
}

.line {
  border-left: #c4c5c6 1px solid;
  height: 56px;
}

.moreCountriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrowUp {
  transform: rotate(180deg);
}

.color {
  background: #626b80;
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 4px 30.6px 0px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 1195px) {
  .mainContainer {
    flex-direction: column;
    gap: 34px;
  }
  .headerCardDown {
    flex-direction: column;
  }
  .countriesContainer {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .card {
    min-width: inherit;
  }

  .cardsContainer {
    display: grid;
    grid-template: repeat(2, 110px) / repeat(2, 120px);
    row-gap: 20px;
    column-gap: 29px;
    justify-content: flex-start;
  }
  .cardLeft {
    width: 125px;
    height: 115.14px;
  }
  .cardRight {
    width: 130px;
    height: 115.14px;
  }
  .cardP {
    font-size: 12px;
  }
  .mainContainer {
    margin: 0 17px;
    margin-top: 40px;
  }
  .headerCardDown {
    margin: 0 17px;
  }
  .cardBigP {
    font-size: larger;
  }
}

@media screen and (max-width: 451px) {
  .headerCardDown {
    height: 45px;
    padding-right: 0;
    flex-direction: row;
  }
  .customP,
  .customP2 {
    padding: 10px 14vw;
    font-size: 12px;
  }
  .headerLinks {
    justify-content: space-between;
  }
}

@media screen and (max-width: 351px) {
  .customP,
  .customP2 {
    padding: 10px 13vw;
    font-size: 12px;
  }
}

@media screen and (max-width: 321px) {
  .customP,
  .customP2 {
    padding: 10px 12vw;
    font-size: 12px;
  }
}
