.mainContainer {
  display: flex;
  margin: 0 56px;
  margin-top: 16px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  max-width: 766px;
}

.card {
  border-radius: 8px;
  background: #fff;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.companyImg {
  border-radius: 15px;
  border: 1px solid #f6fafe;
  background: #fff;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.1),
    0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 46px 27px 0px rgba(0, 0, 0, 0.05),
    0px 81px 33px 0px rgba(0, 0, 0, 0.01), 0px 127px 36px 0px rgba(0, 0, 0, 0);
  padding: 20px 8px;
  margin-right: 34px;
}

.cardP {
  margin: 0;
  color: #626b80;
  font-size: 14.758px;
}

.categoryCard {
  border-radius: 8px;
  background: #fff;
  padding: 8px 12px;
  width: fit-content;
}

.categoryCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.categoryP {
  color: #383838;
  font-size: 14.758px;
  font-weight: 700;
}

.span {
  color: #0d4f98;
  font-size: 14.758px;
  font-weight: 600;
}

.cardBigP {
  color: #0d4f98;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.headerCardDown {
  margin: 0 56px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px 15px 0px 0px;
  padding-right: 30px;
  box-shadow: 0px 4px 30.6px 0px rgba(0, 0, 0, 0.08);
}

.headerLinks {
  display: flex;
  align-items: center;
}

.countriesContainer {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 17px;
  padding-right: 30px;
}

.customP {
  margin: 0;
  padding: 29px 0;
  padding-left: 71px;
  padding-right: 45px;
  font-size: 18px;
}

.disabled {
  color: #626b80;
  cursor: pointer;
}

.customP2 {
  margin: 0;
  padding: 29px 45px;
  font-size: 18px;
}

.active {
  border-bottom: #ffd028 5px solid;
}

.boldP {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.blueCard {
  border-radius: 100px;
  background: #0d4f98;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
}

.blueCardP {
  margin: 0;
}

.line {
  border-left: #c4c5c6 1px solid;
  height: 56px;
}
