.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
}

.title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 64px;
}

.input {
  border: 0.8px solid #d9d9d9;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
  width: 838px;
  height: 58px;
  color: rgba(0, 0, 0, 0.2);
}

.input:focus {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
  color: #000;
}

.arrowDown {
  position: absolute;
  padding-right: 30px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.selectContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 270px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}

.updateButton {
  border-radius: 100px;
  border: 0.8px solid #d9d9d9;
  background: linear-gradient(89deg, #0f5199 4.29%, #44a8c0 99.49%);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 16.2px 22px;
  width: 179px;
}

.deleteButton {
  border-radius: 100px;
  border: 0.8px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
  padding: 16.2px 22px;
  width: 179px;
}

.active {
  color: #000;
}

@media screen and (max-width: 1270px) {
  .selectContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .input {
    width: 340px;
  }
  .updateButton,
  .deleteButton {
    width: 160px;
  }
}

@media screen and (max-width: 880px) {
  .selectContainer {
    top: 215px;
  }
  .title {
    text-align: center;
  }
}
