.navbar {
  border-radius: 100px;
  border: 1px solid #eaeaea;
  background: #eef6fc;
  display: flex;
  align-items: center;
  padding: 24px 20px;
  margin: 0 56px;
  text-align: center;
}

.navbarA {
  color: #626b80;
  text-decoration: none;
}

.navbarButton,
.insightsButton {
  border-radius: 48px;
  background: linear-gradient(277deg, #4ab2c4 -0.01%, #094895 94.83%);
  padding: 10px 37px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbarButtonLogOut {
  border-radius: 48px;
  background: #626b80;
  padding: 10px 37px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbarLeft {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 48px;
}

.navbarRight {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

.navbarLinks {
  display: flex;
  gap: 62px;
}

.navbarLogo {
  cursor: pointer;
}

.MobileMenuNavbar {
  display: none;
}

.insightsButton {
  display: none;
}

.redButton {
  background: #b30000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.redButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/dq7aof6vb/image/upload/v1736461984/dark-red-background-with-spots-vector_dcuwnn.jpg");
  background-size: cover;
  opacity: 0.4;
  z-index: 1;
  mix-blend-mode: multiply;
}

.redButton:hover {
  background: #cc0000;
}

.redButton:active {
  transform: scale(0.95);
}

.redButton span {
  position: relative;
  z-index: 2;
  color: #ffffff;
  mix-blend-mode: normal;
  font-weight: 400;
}

@media screen and (max-width: 1090px) {
  .navbarLinks {
    gap: 1rem;
    margin-right: 1rem;
  }
  .navbarLeft {
    gap: 1rem;
  }
  .navbarRight {
    width: 25%;
  }
}

@media screen and (max-width: 925px) {
  .MobileMenuNavbar {
    display: inherit;
    cursor: pointer;
  }

  .navbarA {
    display: none;
  }

  .navbarLeft {
    width: inherit;
    display: inline;
  }

  .navbar {
    justify-content: space-between;
    margin: 0 17px;
    height: 44px;
    padding: 0px 16px;
  }

  .navbarButton,
  .insightsButton {
    padding: 6.583px 24.358px;
    gap: 5.267px;
    border-radius: 31.6px;
    font-size: 10.533px;
    font-weight: 500;
  }

  .insightsButton {
    display: inherit;
    margin: 0 auto;
    margin-top: 10px;
  }

  .navbarButtonLogOut {
    padding: 6.583px 24.358px;
    gap: 5.267px;
    border-radius: 31.6px;
    font-size: 10.533px;
    font-weight: 500;
  }

  .navbarLogo {
    width: 114px;
    gap: 30.643px;
  }

  .navbarRight,
  .navbarLeft,
  .logoNavbar {
    width: 33%;
  }

  .navbarLinksMobile {
    transition: all 0.5s ease-out;
    position: absolute;
    flex-direction: column;
    background: #eef6fc;
    left: 35px;
    gap: 5px;
    border-radius: 12px;
    z-index: 100;
    .navbarA {
      display: inherit;
      border-bottom: 1px solid #c1c1c1;
      padding: 8px 16px;
    }
  }
}

@media screen and (max-width: 520px) {
  .navbarButton,
  .redButton,
  .navbarButtonLogOut {
    padding: 4px 11px;
    font-size: 0.6rem;
  }
  .navbar {
    padding: 0 7px;
  }
  .navbarLogo {
    width: 95px;
  }
}
